*.db
*.pem
*.smp
!config.yaml.smp
.DS_Store
.git
.gitignore
.hgignore
__pycache__
config.docker.yaml
config.yaml
detritus
dev/*
housepy
logs
mongo_test.py
nginx.docker.conf
node_modules/**
okavango_old
passwords.txt
pi_code
processors/disabled/*
README.md
run
scripts
static
tests
TODO.md
todos.webloc
uploads
