.DS_Store
__pycache__
logs
config.yaml
housepy
static/data/*
run/*
dev/*
*.pem
okavango_old
uploads/*
data.db
scripts/okavango.pem
tests
passwords.txt
pi_code/okanode/server.log
pi_code/okanode/error.log