geojson>=1.0.9
Jinja2>=2.7.3
oauth>=1.0.1
pymongo>=3.0b0
python-dateutil>=2.4.0
pytz>=2014.10
PyYAML>=3.11
tornado>=4.0.2
xmltodict>=0.9.1
twython>=3.2.0
soundcloud>=0.4.1
requests>=2.5.1
twilio>=3.8.0
Pillow>=2.7.0
feedparser>=5.2.0
future>=0.14.3
git+https://github.com/O-C-R/housepy.git#egg=housepy
