    #dataPage{
      width:100%;
      height: auto;
      min-height:800px;
      background-color: rgba(4, 0, 26, 0.65);
    }
    #dataPage h1{
      font-family: 'Montserrat';
      font-size: 22px;
      text-transform: uppercase;
      line-height: 1.5em;
      letter-spacing: 0.1em;
    }



    .api-query-control h2 {
      font-family: 'Montserrat';
      font-size: 14px;
      text-transform: uppercase;
      line-height: 1.0em;
      letter-spacing: 0.1em;
      color: #333;
    }

    .radio label {
        color: #333;
        font-size: 14px;
    }

    #api pre {
        font-size: 12px;
        margin-top: 4ex;
        width: 800px;
    }

    #totalsViz {
        width: 800px;
        height: 200px;
        background-color: rgba(4, 0, 26, 0.62);
        padding: 9.5px;
        margin-top:8px;
        margin-bottom:20px;
    }

/* Button styles */
  .btn-group,
  .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: #4bff87;
    color: #686d9d;
    border: 1px solid transparent;
    border-radius: 4px;
  }

/******** QUERY AREA ************/
/*
    pre, code, code span {
        font-family: Monaco, Consolas, "Lucida Console", monospace !important;
        background-color: #eff4fb;
    }

    pre {
        display: block;
        padding: 9.5px;
        margin: 0 0 20px;
        line-height: 1.42857143;
        word-break: break-all;
        word-wrap: break-word;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 4px;
    }*/

/* RACTIVE DROP DOWN CSS */
.ractive-dropdown {
  color: #4bff87;
  width: 270px;
  border: 1px solid #4bff87;
  border-radius: 5px;
  position: relative;
  float: left;
}
.ractive-dropdown * {
  box-sizing: border-box;
}
.ractive-dropdown .label {
  display: block;
  padding: 10px;
  outline: none;
  position: relative;
  background: #686d9d;
  font-size: 1.25em;
}
.ractive-dropdown .label:after {
  position: absolute;
  right: 10px;
  content: '\29BF';
  font-size: 1em;
}
.ractive-dropdown ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  outline: none;
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
  background: #eff4fb;
  width: 100%;
  border: 1px solid #686d9d;
  overflow-y: auto;
}
.ractive-dropdown ul * {
  outline: none;
}
.ractive-dropdown ul li {
  padding: 10px 0;
  color: #686d9d;
  position: relative;
  font-weight: bold;
}
.ractive-dropdown ul li.active {
  color: #686d9d;
  background-color: #4bff87;
  padding-left: 10px;
}
.ractive-dropdown ul li.active:before {
  position: absolute;
  color: #686d9d;
  left: 0;
  top: 12px;
  content: '\25B8';
  font-size: 12px;
}
.ractive-dropdown.opened .label:after {
  content: '\29BE';
}
.ractive-dropdown.opened ul {
  display: block;
}

.choice {
  font-size: 1.5em;
  color: #ffd100;
}

/******** D3 STYLES ******/    

    #timelineViz {
      width:100%;
      height: auto;
      min-height:525px;
      padding: 10px;
      margin-top:8px;
      background-color: rgba(4, 0, 26, 0.62);
    }

    #vizContainer {
      margin-bottom: 20px;
    }

    #totalsViz rect {
        fill: #4bff87;
    }

    #totalsViz text {
        fill: white;
        font: 10px 'Sentinel SSm A', 'Sentinel SSm B';;
        text-anchor: end;
    }

    .axis text {
      font: 10px 'Sentinel SSm A', 'Sentinel SSm B';
      fill: #fff;
    }

    .axis .title {
      font-weight: bold;
      text-anchor: end;
    }

    .axis .label {
      font: 12px 'Gotham A', 'Gotham B', Helvetica, Arial;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #333;
      shape-rendering: crispEdges;
    }

    .title {
      font-weight: bold;
      font: 12px sans-serif;
      fill: #fff;
    }

    .line {
      fill: none;
      stroke: #4bff87;
      stroke-width: 1.5px;
    }

    .line {
      fill: none;
      stroke: #4bff87;
      stroke-width: 1.5px;
    } 

    .rect {
      fill: #4bff87;
      stroke: none;
    }

    /* just added this pseudo selector because it was messing up with my timeline. ian*/
    #dataPage circle {
        fill: none;
        stroke: #4bff87;
    }

    #dataPage path {
        stroke: #4bff87;
        stroke-width: 1px;
        fill: none;
    }