

   /*
  Fonts
*/


@import url(http://fonts.googleapis.com/css?family=Montserrat);


   /*
  Reset CSS
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


   /*
  Reset CSS
*/

body{
  background-color:#04001A;
  color:#ffffff;
  font-size: 16px;
  letter-spacing: 0.12em;
}

#mapContainer{
  width:100%;
  height:100%;
  position:absolute;
}

  #map{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

#contentContainer{
  width:100%;
  height:auto;
  position:relative;
}

  #contentContainer #header{
    width:97.2%;
    height:auto;
    padding:35px 1.4% 30px 1.4%;
  }

    #header #title{
      width:500px;
    }

      #title h1{
        display:none;
      }

    #header ul#navigation{
      float:right;
      width:40%;
    }

      ul#navigation li{
        /*float:right;*/
        display:inline-block;
        text-align: center;
        margin-right:-4px;
        width:14.2%;
        padding:0 3.5%;
        cursor:pointer;
        opacity: 0.6;
        transition: opacity 0.15s;
      }

        ul#navigation li.active, ul#navigation li:hover{
          opacity:1;
        }

        ul#navigation li.share span{
          color: #4BFF87;
          border: 2px solid;
          border-color: #54996B;
          border-radius: 3px;
          padding: 7px 12px;
          transition: color 0.15s;
          transition: border-color 0.15s;
        }

          ul#navigation li.share span:hover{
            color: #ffffff;
            border-color: #ffffff;
            border-radius: 3px;
            padding: 7px 12px;
          }

        ul#navigation li:first-child{
          padding-left:0;
        }

        ul#navigation li:last-child{
          padding-right:0;
          opacity: 1;
        }

  #contentContainer .page{

  }

    #aboutPage{

    }

    #aboutPage #introduction{
      width:82.8%;
      padding:100px 8.6%;
    }

      #introduction h1{
        font-family: "Montserrat", Helvetica, Arial;
        font-size: 60px;
        color:#ffffff;
        text-transform: uppercase;
      }








