

   /*
  Fonts
*/


@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);


   /*
  Reset CSS
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  width:100%;
  /*overflow-x:hidden; */
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


   /*
  Reset CSS
*/

html{
  height:100%;
}

body{
  background-color:#04001A;
  color:#ffffff;
  /*font-family: 'Lora', Georgia, serif;*/
  font-family: 'Sentinel SSm A', 'Sentinel SSm B'; font-weight: 300; font-style: normal;
  font-size: 16px;
  letter-spacing: 0.12em;
  width:100%;
  height:100%;
  min-width:960px;
}

hr{
  opacity: 0.5;
}

#mapContainer{
  width:100%;
  height:100%;
  position:fixed;
}

  #map{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

    #map div#night{
      background-color: rgba(4, 0, 26, 0.6);
      width:100%;
      height:100%;
      position:absolute;
      opacity: 0;
      transition: opacity 1s;
    }

    #map div#night.night{
      opacity: 1;
    }

#contentContainer{
  width:100%;
  height:auto;
  position:relative;
  height:100%;
}

  #contentContainer #header{
    width:97.2%;
    height:auto;
    padding:35px 1.4% 30px 1.4%;
    transition: background-color 0.4s;
  }

    #header.dark{
      background-color: rgba(4, 0, 26, 0.62);
    }

      #header #title{
        width:500px;
      }

        #title h1{
          display:none;
        }

      #header ul#navigation{
        float:right;
        width:40%;
      }

        ul#navigation li{
          /*float:right;*/
          display:inline-block;
          text-align: center;
          margin-right:-4px;
          width:14.2%;
          padding:0 3.5%;
          cursor:pointer;
          opacity: 0.6;
          transition: opacity 0.15s;
          vertical-align: top;
        }

          ul#navigation.logos{
            margin-top:-9px;
            text-align: right;
            padding-right:20px;
            width:60% !important;
          }

          ul#navigation.logos li{
            opacity:1;
            width: auto;
            padding: 0;
            margin-left:35px;
          }

          ul#navigation li.active, ul#navigation li:hover{
            opacity:1;
          }

          ul#navigation li.teaser{
            width:auto;
            float:right;
            margin-right: 20px;
          }

          ul#navigation li.teaser a{
            color: #4BFF87;
            text-decoration: none;
            transition: color 0.15s;
          }

            ul#navigation li.teaser a:hover{
              color: white;
              text-decoration: none;
            }


            ul#navigation li.share span:hover{
              color: #ffffff;
              border-color: #ffffff;
              border-radius: 3px;
              padding: 7px 12px;
            }

          ul#navigation li:first-child{
            padding-left:0;
          }

          ul#navigation li:last-child{
            padding-right:0;
            opacity: 1;
          }

  #contentContainer .page{

  }

    #contentContainer .page.hidden{
      display:none;
    }

    #aboutPage{
      background-color: rgba(4, 0, 26, 0.65);
    }

      #aboutPage div.row{
        
      }

      #aboutPage div.column{
        display: inline-block;
        width:47.2%;
        margin-right:-4px;
        vertical-align: top;
      }

        #aboutPage div.column:first-child{
          padding-right:2.4%;
        }

        #aboutPage div.column:last-child{
          padding-left:2.4%;
        }

    #aboutPage #video{
      text-align: center;
      height:auto;
      position:relative;
    }

      #aboutPage #video div.cover{
        position:absolute;
        z-index:10;
        display: block;
        height:100%;
        width:100%;
        background-image: url("../img/vimeoCover.jpg");
      }

        #aboutPage #video div.cover img{
          top:50%;
          position:absolute;
          opacity:0.6;
          margin-top:-17.5px;
          margin-left:-17.5px;
        }

      #video .vimeoContainer{
        position:absolute;
        z-index:0;
      }

      #video #date{
        padding: 0px 20px;        
        display: block;
        height:20px;
        width:450px;
        position:absolute;
        left: 50%;
        z-index:1;
        bottom:0;
      }

        #video #date span{
          text-align: center;
          text-transform: center;
          color: #4BFF87;     
          display: inline-block;
          vertical-align: middle;
          margin-top:-18px; 
          text-transform: uppercase;
          position:absolute;
          left:-50%;
          bottom:-8px;
          width:100%;
        }

        #video #date .bkg{
          width:100%;
          height:100%;
          background-color: rgba(4, 0, 26, 0.5);
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          position:absolute;
          left:-50%;
        }

      

    #aboutPage #introduction{
      width:82.8%;
      height:auto;
      padding:105px 8.6%;
      overflow-x:hidden; 
      position:relative;
    }

      #aboutPage h1{
        font-size: 56px;
        color:#ffffff;
        text-transform: uppercase;
        text-align: right;
        letter-spacing: 0.15em;
        line-height: 1.32em; 
        margin-top:-5px;

        font-family: 'Gotham A', 'Gotham B', Helvetica, Arial;
        font-weight: 700;
        font-style: normal;
      }

      /*#aboutPage h1{
        font-family: "Montserrat", Helvetica, Arial;
        font-size: 56px;
        color:#ffffff;
        text-transform: uppercase;
        text-align: right;
        letter-spacing: 0.15em;
        line-height: 1.32em; 
        margin-top:-5px;
      }*/

      #introduction p{
        font-size: 18px;
        letter-spacing: 0.12em;
        line-height: 1.98em;
      }

        #introduction p:not(:first-child){
          margin-top:35px;
        }

        #introduction #intro div.column:first-child p{
          text-align: right;
          padding-left:27%;
          margin-bottom:40px;
        }


      #cta{
        /*position:absolute;
        bottom:-22px;*/
        width:100%;
        left:0;
        text-align: center;
        margin-top:-35px;
        margin-bottom:70px;
      }

        #cta p{
          position:relative;
          margin:auto;
          display:inline-block;
          border-radius: 3px;
          padding:14px 26px;
          border: 2px solid white;
          text-transform: uppercase;
          font-size: 11px;
          color: #4BFF87;
          transition: color 0.15s;
          text-decoration: none;
        }

        #cta p span{
          text-transform: lowercase;
        }

        #cta a:hover p{
          color: white;
        }

      #aboutPage #beaconContainer{
        position: absolute;
        left: 50%;
        pointer-events:none;
      }

        #beaconContainer img#beacon{
          display:block;
          position:relative;
          /*left:0;*/
          margin-top:-160px;
          /*width:100%;*/
          /*margin:auto;*/
          left:-50%;
        }

      #aboutPage div#goals{
        margin-top:300px;
      }

      #aboutPage h2{
        /*font-family: 'Montserrat', arial, sans-serif;*/
        font-family: 'Gotham A', 'Gotham B', Helvetica, Arial;
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
        text-transform: uppercase;
        line-height: 1.5em;
        letter-spacing: 0.1em;
      }

        #aboutPage div.column.right h2{
          text-align: right;
        }

        #aboutPage div.column .goalIcon{
          float:left;
          width:50px;
          height:50px;
          border: 2px #ffffff solid;
          border-radius: 3px;
          margin: 5px 20px 0 0;

        }

        #aboutPage div.column.right .goalIcon{
          float:right;
          margin: 5px 0 0 20px;
        }


      #aboutPage #team{
        width:100%;
        height:auto;
        padding:0;
        position:relative;
        overflow: hidden;
      }


        #team div.background{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }

          #team div.background div.slides{
            z-index: 1;
            height: auto;
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
          }

            #team div.background div.slides img{
              display:block;
              position:absolute;
              width:100%;
              z-index:1;
            }

            #team div.background div.slides img:not(:first-child){
              display:block;
              position:absolute;
              width:100%;
              z-index:-2;
              opacity: 0 !important;
            }

            #team div.background div.slides img:nth-child(2){
              z-index:-1;
            }

          #team div.background div.overlay{
              z-index: 2;
              height: 100%;
              width: 100%;
              position: absolute;
              top: 0px;
              left: 0px;
              background-color: rgba(4, 0, 26, 0.7);
          }

        #team div.content{
            width: 82.8%;
            height: auto;
            position: relative;
            padding: 100px 8.6%;
            z-index:3;
        }

          #team h2{
            margin-bottom: 30px;
          }

            #team h2 span.title{
              /*font-family: 'Montserrat', arial, sans-serif;*/
              font-family: 'Gotham A', 'Gotham B', Helvetica, Arial;
              font-weight: 700;
              font-style: normal;
              font-size: 9px;
              text-transform: uppercase;
              line-height: 0;
              margin-top:8px;
              margin-bottom:8px;
              display:block;
              position: absolute;
              color:rgba(255,255,255,0.75);
            }

          #team p{
            margin-bottom: 75px;
            font-size: 16px;
            line-height: 1.8em;
          }

          #team p:last-child{
            margin-bottom: 0;
          }

            #team p span.title{
              /*font-family: 'Montserrat', arial, sans-serif;*/
              font-family: 'Gotham A', 'Gotham B', Helvetica, Arial;
              font-weight: 700;
              font-style: normal;
              font-size: 9px;
              text-transform: uppercase;
              opacity: 0.75;
              text-align: right;
              display: block;
              float:right;
            }

            span.explorerBox{
              display:inline-block;
              width:5px;
              height:8px;
              border: 2px solid #f6d13a;
              vertical-align: middle;
              margin-left: 5px;
              margin-top:-2px;
            }

            span.explorerBox.legend{
              margin-left: 0;
              margin-right: 5px;
              margin-top:-3px;
            }

        #team div.social{
          text-align: left;
          margin-bottom: -5px;
          width:100%;
          overflow: hidden;
        }

        #team div.logos{
          text-align: right;
          position:absolute;
          bottom:100px;
          width:40%;
        }

          #team div.logos img{
            display: inline-block;
            vertical-align: bottom;
            margin-right:15px;
          }

          #team div.logos a:last-child img{
            margin-right:0;
          }




    #mapPage{
      height: auto;
      display: inline-block;
      position: absolute;
      width:100%;
      height:100%;
      position:fixed;
    }

      #mapPage div.controls{
        padding: 35px 1.4% 1.4% 1.4%;
        width:5.52%;
        height:auto;
        position:absolute;
        right:0;
        top:0;
      }

        #mapPage div.button{
          margin-bottom:17.5px;
          width:26px;
          min-height:26px;
        }

          #mapPage div.controls div.control-playback{
            margin-left:auto;
            margin-right:auto;
            background-color: white;
            border-radius: 3px;
            background-image: url("../img/iconPause.svg");
            cursor:pointer;
          }
        
          #mapPage div.controls div.control-zoom{
            margin-left:auto;
            margin-right:auto;
          }

            #mapPage div.controls div.control-zoom a{
              background-color: white;
              display: block;
              width:26px;
              height:26px;
              color:transparent;
              margin:0;
            }

              #mapPage div.controls a.control-zoom-in{
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                background-image: url("../img/iconZoomIn.svg");
                border-bottom:1px solid rgba(4, 0, 26, 0.2);
              }

              #mapPage div.controls a.control-zoom-out{
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                background-image: url("../img/iconZoomOut.svg");
              }

      #mapPage div.pane{
        display:inline-block;
        vertical-align: top;
        height:100%;
        margin-right:-6px;
      }

        #mapPage div.pane.hidden{
          display:none;
        }

        #mapPage div.pane:nth-child(1){
          width:8.55%;
          background-color: rgba(4, 0, 26, 0.82);
        }

          #mapPage div.pane.dimmed:nth-child(1){
            background-color: rgba(4, 0, 26, 0);
          }

        #mapPage div.pane:nth-child(2){
          width:0;
          background-color: rgba(4, 0, 26, 0.72);
        }

          #mapPage.data div.pane:nth-child(2){
            width:16.65%;
          }

        #mapPage div.pane:nth-child(3){
          width:91.5%;
          background-color: rgba(4, 0, 26, 0.62);
          height:auto;
          min-height:100%;
          overflow-y: scroll;
          height:1px;
        }

          #mapPage div.pane.hidden:nth-child(3){
            display: inline-block;
            opacity: 0;
          }

            #mapPage div.pane.hidden:nth-child(3) *{
              pointer-events:none;
            }

          #mapPage.data div.pane:nth-child(3){
            width:74.85%;
          }

        #mapPage div.pane svg#timeline{
          height:80%;
          width:100%;
          margin-top:30px;
        }

          #mapPage div.pane svg#timeline text{
            width:50%;
          }

            #mapPage div.pane svg#timeline text tspan{
              fill:white;
              font-family: 'Gotham A', 'Gotham B', Helvetica, Arial;
              font-weight: 700;
              font-style: normal;
              font-size: 10px;
              text-transform: uppercase;
              alignment-baseline: middle;
              text-anchor:end;
            }

        #mapPage div.pane div#feed{
          padding:35px 19.4%;
          line-height: 1.5em;
          position:relative;
          min-height: 1000px;
        }

          #mapPage.data div.pane div#feed{
            padding:35px 10.3%;
          }

          #mapPage div#feed div.post{
            margin-bottom:70px;          
          }

            #mapPage div#feed div.post div.content img.icon{
              display:inline-block;
              vertical-align: top;
              margin-right:-4px;
              border: 2px solid rgba(173,176,255,0.5);
              border-radius: 3px;
              width:7.7%;
            }

              #mapPage.data div#feed div.post div.content img.icon{
                width:9.75%;
              }

            #mapPage div#feed div.post div.content p.message{
              display:inline-block;
              vertical-align: middle;
              margin:0 0 0 5%;
              width:85%;
              /*font-style: italic;*/
              font-size: 20px;
              line-height: 1.85em;
              margin-top:-7px;
            }

              #mapPage.data div#feed div.post div.content p.message{
                margin:0 0 0 3.8%;
                width:65.4%;
              }

            #mapPage div#feed div.post div.photo{
              width:100%;
              margin-top:35px;
            }

              #mapPage div#feed div.post div.photo img{
                width:100%;
                pointer-events:none;
              }

            #mapPage div#feed div.post div.meta{
              margin-bottom:70px;
              height:5px;
            }

              #mapPage div#feed div.post div.meta div.separator{
                display:inline-block;
                vertical-align: top;
                margin-right:-4px;
                width:7.7%;
                height:3px;
                background-color: rgba(173,176,255,0.5);
              }

                #mapPage.data div#feed div.post div.meta div.separator{
                  width:9.75%;
                }

              #mapPage div#feed div.post div.meta div.timestamp{
                display:inline-block;
                vertical-align: text-top;
                margin:0 0 0 5%;
                width:85%;
                color: rgba(173,176,255,0.65);
                /*font-family: 'Montserrat', arial, sans-serif;*/
                font-family: 'Gotham A', 'Gotham B', Helvetica, Arial;
                font-weight: 700;
                font-style: normal;
                font-size: 10px;
                text-transform: uppercase;
                line-height: 0;
              }

                #mapPage.data div#feed div.post div.meta div.timestamp{
                  margin:0 0 0 3.8%;
                  width:65.4%;
                }

    #dataPage{
      width:100%;
      height: auto;
      min-height:800px;
      background-color: rgba(4, 0, 26, 0.65);
    }

    #dataPage #data-header {
      width: 100%;
      height: auto;
      background-color: rgba(4, 0, 26, 0.85);
      padding:5px 1.4% 10px 1.4%;
    }

    #dataPage .title {
      font-family: 'Gotham A', 'Gotham B', Helvetica, Arial;
      font-weight: 700;
      font-style: normal;
      font-size: 44px;
      text-transform: uppercase;
      line-height: 1.5em;
      letter-spacing: 0.2em;
    }

    #data-header ul#data-navigation{
      float:right;
      width:50%;
      padding: 30px 1.4% 40px 1.4%;
    }

      ul#data-navigation li{
        float:right;
        display:inline-block;
        text-align: center;
/*      margin-right:-4px;
        width:14.2%;*/
        padding:0 3.0%;
        cursor:pointer;
        opacity: 0.6;
        transition: opacity 0.15s;
      }

        ul#data-navigation li.active, ul#data-navigation li:hover{
          opacity:1;
        }

    #data-content {
      min-height: 800px;
      padding: 30px 1.4% 40px 1.4%;
    }



svg.wanderer{
  width:300px;
  height:300px;
  top:150px;
  left:-150px;
  border: 1px solid green;
  position:absolute;
}

.memberMarker {
  border-left: 2px solid #FFB637;
  background-color:rgba(255,255,255,0.7);
  border-radius:2px;
  /*font-family: "Montserrat";*/
  font-family: 'Gotham A', 'Gotham B', Helvetica, Arial;
  font-weight: 700;
  font-style: normal;
  color:rgba(4,0,26,0.9);;
  font-size:14px;
  width:auto;
  padding:4px;
  height:14px !important;
}



@media (max-width: 767px) {
  body{
    min-width:540px;
  }

  #navigation{
    float:none;
    position:absolute;
    top:80px;
  }

    #navigation li.teaser{
      float:none !important;
    }

  #aboutPage #introduction{
    padding-top:65px;
  }

  #aboutPage #introduction h1{
    margin-bottom:70px;
    line-height: 1.32em;
  }

  #aboutPage div.column{
    display: block;
    width:100%;
    margin-right:auto !important;
    margin-left:auto !important;
    padding:0 !important;
  }

  #aboutPage div.column:not(:first-child){
    margin-top: 70px;
  }

  #team div.logos{
    text-align: left;
    width:100%;
  }

  #header{
    padding: 70px 0 120px 0 !important;
  }

  #header #title{
    width:100%;
  }

  #header #title{
    text-align: center;
  }

  #header #navigation{
    text-align: center;
    width:93% !important;
    padding:0 !important;
    margin:auto;
    margin-top:35px;
  }

  #cta{
    margin-top:16px;
  }

  #team div.background{
    display:none;
  }

  #team div.content{
    padding-top:0;
  }

  #team div.logos{
    bottom:75px;
  }

}

