{% extends "page.html" %}
{% block head %}

<link rel="stylesheet" type="text/css" href="/static/css/admin.css" />

<script>
    $(document).ready(function() {
        
        $('#new_member_btn').mousedown(function() {
            var member = $('#new_member').val();
            if (!member.length) return;
            $.ajax({
                type: "POST",
                url: "//admin",
                data: {new_member: member},
                error: function (xhr, status, error) {
                    console.log(xhr);
                    console.log(status);
                    console.log(error);
                    alert(xhr.responseText);
                }
            }).done(function (xhr, textStatus) {
                // alert(textStatus);
                alert("OK");
                document.location.reload();
            });            
        });

        $('#new_team_btn').mousedown(function() {
            var team = $('#new_team').val();
            if (!team.length) return;
            $.ajax({
                type: "POST",
                url: "//admin",
                data: {new_team: team},
                error: function (xhr, status, error) {
                    console.log(xhr);
                    console.log(status);
                    console.log(error);
                    alert(xhr.responseText);
                }
            }).done(function (xhr, textStatus) {
                // alert(textStatus);
                alert("OK");                
                document.location.reload();
            });            
        });

        $('.member_team').change(function() {
            var team = $(this).val();
            var member = $(this).attr('id');            
            $.ajax({
                type: "POST",
                url: "//admin",
                data: {team: team, member: member},
                error: function (xhr, status, error) {
                    console.log(xhr);
                    console.log(status);
                    console.log(error);
                    alert(xhr.responseText);
                }
            }).done(function (xhr, textStatus) {
                // alert(textStatus);
                document.location.reload();
            });                
        });

        $('.satellite_team').change(function() {
            var team = $(this).val();
            var satellite = $(this).attr('id');     
            $.ajax({
                type: "POST",
                url: "//admin",
                data: {team: team, satellite: satellite},
                error: function (xhr, status, error) {
                    console.log(xhr);
                    console.log(status);
                    console.log(error);
                    alert(xhr.responseText);
                }
            }).done(function (xhr, textStatus) {
                // alert(textStatus);
                document.location.reload();
            });                
        });

        $('.ambit_member').change(function() {
            var member = $(this).val();
            var ambit = $(this).attr('id');     
            $.ajax({
                type: "POST",
                url: "//admin",
                data: {ambit: ambit, member: member},
                error: function (xhr, status, error) {
                    console.log(xhr);
                    console.log(status);
                    console.log(error);
                    alert(xhr.responseText);
                }
            }).done(function (xhr, textStatus) {
                // alert(textStatus);
                document.location.reload();
            });                
        });

        $('#edit').click(function() {
            document.location.href = "/edit/" + $('#feature_id').val();
        });

    })


</script>

{% endblock head %}

{% block body %}
<div id="textarea" style="padding:30px">
<h2>TEAMS</h2>
<br />
<table>
    {% for member in dbmembers %}
    <tr>
        <td><a href="/admin/{{ member.Name }}">{{ member.Name }}</a></td>
        <td>
            <select class="member_team" id="{{ member.Name }}"> 
                <option value="NONE">NONE</option>
                {% for team in dbteams %}
                    {% if team.Name == member.Team %}
                        <option value="{{ team.Name }}" selected="selected">{{ team.Name }}</option>
                    {% else %}
                        <option value="{{ team.Name }}">{{ team.Name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </td>
    </tr>    
    {% endfor %}
</table>
<br />
<br />
<h2>SATELLITES</h2>
<br />
<table>
{% for satellite in satellites %}
<tr>
    <td><a href="/admin/{{ satellite }}">{{ satellite }}</a></td>
    <td>
        <select class="satellite_team" id="{{ satellite }}"> 
            <option value="NONE">NONE</option>
            {% for team in dbteams %}
                {% if team.Satellite == satellite %}
                    <option value="{{ team.Name }}" selected="selected">{{ team.Name }}</option>
                {% else %}
                    <option value="{{ team.Name }}">{{ team.Name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </td>
</tr>    
{% endfor %}
</table>
<br />
<br />
<h2>AMBITS</h2>
<br />
<table>
{% for ambit in dbambits %}
<tr>
    <td><span style="font-family: monospace;"><a href="/admin/{{ ambit.Serial }}">{{ ambit.Serial }}</a></span></td>
    <td>
        <select class="ambit_member" id="{{ ambit.Serial }}"> 
            <option value="NONE">NONE</option>
            {% for member in dbmembers %}
                {% if member.Name == ambit.Member %}
                    <option value="{{ member.Name }}" selected="selected">{{ member.Name }}</option>
                {% else %}
                    <option value="{{ member.Name }}">{{ member.Name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </td>
</tr>
{% endfor %}
</table>
<br />
<br />
NEW MEMBER<br /><input type="text" id="new_member" size="15" /><input id="new_member_btn" type="button" value="Create" />
<br />
<br />
<br />
NEW TEAM<br /><input type="text" id="new_team" size="15" /><input id="new_team_btn" type="button" value="Create" />
<br />
<br />
<br />

EDIT FEATURE<br />_id: <input type="text" id="feature_id" size="15" /><input id="edit" type="button" value="Edit" />

<div>

{% endblock body %}