{% extends "page.html" %}
{% block head %}

{% include "upload/_head.html" %}

<script>

$(document).ready(function() {

    $('#add-button').on('click', function () {        

        var j = $('#upload').serializeJSON();
        var files = $("#File").get(0).files;
        if (!files.length) return
        j.ResourceURLs = [files[0].name];

        var dateString = $('#date').val() + " , " + $('#time').val();
        var date = moment().format();
        j.t_utc = Math.floor((new Date(date)).getTime() / 1000);

        console.log(j);
        var jsonBlob = new Blob([JSON.stringify(j)], {type : 'text/json'});

        var data = new FormData();
        data.append("hasJSON", true);
        data.append("json", jsonBlob, "metadata.json");
        data.append("audio", files[0]);
        data.append("audio-ResourceURL", files[0].name);

        var progressElem = $('#progressCounter');
        $('#message').text('Uploading...');                
        var ajaxRequest = $.ajax({
            type: "POST",
            url: "/ingest/audio",
            contentType: false,
            processData: false,
            data: data,

            error: function (xhr, status, error) {
                console.log(xhr);
                console.log(status);
                console.log(error);
                console.log(data);
                $('#message').html(xhr['responseText']);                        
            },
            xhr: function() {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", function(evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        console.log(percentComplete);
                        progressElem.html(Math.round(percentComplete * 100) + "%");
                        //console.log("percent loaded: " + percentComplete);
                    }
                }, false);

                return xhr;
            }            
        });

        ajaxRequest.done(function (xhr, textStatus) {
            console.log(textStatus);
            $('#message').html(textStatus);
            if (textStatus == 'success') {
                $(':input','#upload').not(':button, :submit, :reset, :hidden').val('').removeAttr('checked').removeAttr('selected');
            }
        });
    });
});
	
</script>

{% endblock head %}

{% block body %}

<div id="content">

<h2>Upload audio</h2>
<form id="upload">

    <label for="photo">File</label>
    <input type="file" name="File" id="File" value="">

    <label for="Title">Title</label>
    <input type="text" name="Title" id="Title" value="">

    <label for="SoundType">Sound type</label>
    <input type="text" name="SoundType" id="SoundType" value="Field Recording">

    <label for="TeamMember">Member</label>
    <input type="text" name="TeamMember" id="TeamMember" value="">

    <label for="date">Date</label>
    <input type="date" name="Date" id="date" value="">

    <label for="time">Time</label>
    <input type="time" name="Time" id="time" value="">

    <label for="Notes">Notes</label>
    <input type="text" name="Notes" id="Notes" value="">

</form>
<button class="ui-shadow ui-btn ui-corner-all" id="add-button">Upload</button>
<div id="progressCounter"></div>
<div id="message"></div>

</div>


<br />
<br />
<br />
<br />
<br />
<br />

{% endblock body %}