{% extends "page.html" %}
{% block head %}

{% include "upload/_head.html" %}

<script>

$(document).ready(function() {

    $('#add-button').on('click', function () {
                var data = new FormData();
                var image = $("#Photo").get(0).files;
                var progressElem = $('#progressCounter');

                var j = $('#upload').serializeJSON();
                console.log(j);
                j.ResourceURLs = [];

                // Add the uploaded file content to the form data collection
                data.append('ImageCount', image.length);
                for (var i = 0; i < image.length; i++) {
                    console.log("ADDING IMAGE " + image[i])
                    data.append("image-" + i, image[i]);
                    data.append("image-" + i + "-ResourceURL", image[i].name);
                    j.ResourceURLs.push(image[i].name);
                }

                j.ImageType = 'Documentary';

                var jsonBlob = new Blob([JSON.stringify(j)], {type : 'text/json'});
                console.log(jsonBlob);

                data.append("hasJSON", true);
                data.append("json", jsonBlob, "metadata.json");
                data.append("TeamMember", $("#TeamMember").val());


                var myReader = new FileReader();
                myReader.onload = function(event){
                    console.log(myReader.result);
                };
                myReader.readAsText(jsonBlob);

                // Make Ajax request with the contentType = false, and processDate = false
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/ingest/image",
                    contentType: false,
                    processData: false,
                    data: data,

                    error: function (xhr, status, error) {
                        console.log(xhr);
                        console.log(status);
                        console.log(error);
                        console.log(data);
                        $('#message').html(xhr['responseText']);
                    },
                    xhr: function() {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress", function(evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                progressElem.html(Math.round(percentComplete * 100) + "%");
                                //console.log("percent loaded: " + percentComplete);
                            }
                        }, false);

                        return xhr;
                    }
                });

                ajaxRequest.done(function (xhr, textStatus) {
                    console.log(textStatus);
                    $('#message').html(textStatus);
                    if (textStatus == 'success') {
                        $(':input','#upload').not(':button, :submit, :reset, :hidden').val('').removeAttr('checked').removeAttr('selected');
                    }
                });


            });

            $('#species-button').on('click', function () {
                $('#speciesList').empty();
                // $('#species-button').text('Getting sightings from API...')
                console.log("Try getting species");
                $.getJSON('/api/features/?Expedition={{ expedition }}&FeatureType=sighting&order=descending&limit=20&speciesSearch=' + encodeURI($('#Species').val()), function(data) {
                        var buttons = [];
                        for (var i = 0; i < data.results.features.length; i++) {
                            var f = data.results.features[i];
                            buttons[i] = $('#speciesList').append('<div id="button' + i + '" class="ui-shadow ui-btn ui-corner-all" style="font-weight: normal; text-align: left;">' + f.properties.SpeciesName + " sighted by " + f.properties.Member + " at " + f.properties.DateTime + '</div>');
                            $('#button' + i).data('id',f.id ).click(function() {
                                id = $(this).data('id');
                                console.log($('#sightingID'));
                                $('#SightingID').val(id);
                            });

                        }
                })
            });

})


	
</script>

{% endblock head %}

{% block body %}

<div id="content">

<h2>Upload an image</h2>
<form id="upload">

    <label for="photo">Photo</label>
    <input type="file" name="Photo" id="Photo" value="" multiple>

    <label for="TeamMember">Member</label>
    <input type="text" name="TeamMember" id="TeamMember" value="">

    <label for="Expedition">Expedition</label>
    <input type="text" name="Expedition" id="Expedition" value="">

    <label for="Notes">Notes</label>
    <input type="text" name="Notes" id="Notes" value="">

    <label for="Notes">SightingID</label>
    <input type="text" name="SightingID" id="SightingID" value="">

</form>
<br />
<div style="border: 1px solid #ccc; padding: 10px;">
Find SightingID<br />
<br />
<label for="Species">Species </label>
<input type="text" name="Species" id="Species" value="">    
<button class="ui-shadow ui-btn ui-corner-all" id="species-button">Search</button>
<div id='speciesList'>

</div>
</div>
<br />
<button class="ui-shadow ui-btn ui-corner-all" id="add-button">Upload</button>
<div id="progressCounter"></div>
<div id="message"></div>

</div>

<br />
<br />
<br />
<br />
<br />
<br />


{% endblock body %}
