{% extends "page.html" %}
{% block head %}

{% include "upload/_head.html" %}

<script>


$(document).ready(function() {

    $('#test-button').on('click', function () {
        //console.log($('#date').val().replace('-16', '-15') + " , " + $('#time').val());
    });

    $('#add-button').on('click', function () {
                var data = new FormData();
                var files = $("#File").get(0).files;

                var j = $('#upload').serializeJSON();
                j.ResourceURLs = [];

                // Add the uploaded file content to the form data collection
                data.append('ImageCount', files.length);
                for (var i = 0; i < files.length; i++) {
                    console.log("ADDING IMAGE " + files[i])
                    data.append("image-" + i, files[i]);
                    data.append("image-" + i + "-ResourceURL", files[i].name);
                    j.ResourceURLs.push(files[i].name);
                }

                //j.ResourceURL = [files[0].name];
                // j.ImageType = "Species";

                var dateString = $('#date').val() + " , " + $('#time').val();
                var date = moment().format();
                j.t_utc = Math.floor((new Date(date)).getTime() / 1000);

                //j.t_utc = Math.floor((new Date()).getTime() / 1000);

                var jsonBlob = new Blob([JSON.stringify(j)], {type : 'text/json'});
                console.log(jsonBlob);

                data.append("hasJSON", true);
                data.append("json", jsonBlob, "metadata.json");
                data.append("TeamMember", $("#TeamMember").val());


                var myReader = new FileReader();
                myReader.onload = function(event){
                    console.log(myReader.result);
                };
                myReader.readAsText(jsonBlob);

                // Make Ajax request with the contentType = false, and processDate = false
                $('#message').text('Uploading...');
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url:"/ingest/sighting",
                    contentType: false,
                    processData: false,
                    data: data,

                    error: function (xhr, status, error) {
                        console.log(xhr);
                        console.log(status);
                        console.log(error);
                        console.log(data);
                        $('#message').html(xhr['responseText']);
                    }
                });

                ajaxRequest.done(function (xhr, textStatus) {
                    console.log(textStatus);
                    $('#message').html(textStatus);
                    if (textStatus == 'success') {
                        $(':input','#upload').not(':button, :submit, :reset, :hidden').val('').removeAttr('checked').removeAttr('selected');
                    }
                });


            });

})


    
</script>

{% endblock head %}

{% block body %}

<div id="content">

<h2>Upload a sighting</h2>
<form id="upload">

    <label for="SpeciesName">Species Name</label>
    <input type="text" name="SpeciesName" id="SpeciesName" value="">

    <label for="Count">Count</label>
    <input type="number" name="Count" id="Count" value="">

    <label for="photo">File</label>
    <input type="file" name="File" id="File" value="" multiple>

    <label for="TeamMember">Member</label>
    <input type="text" name="TeamMember" id="TeamMember" value="">

    <label for="date">Date</label>
    <input type="date" name="Date" id="date" value="">

    <label for="time">Time</label>
    <input type="time" name="Time" id="time" value="">

    <label for="getImageTimestamp">Use image timestamp?</label>
    <input type="checkbox" name="getImageTimestamp" id="getImageTimestamp" checked="checked">    

    <label for="Notes">Notes</label>
    <input type="text" name="Notes" id="Notes" value="">

</form>
<!--button class="ui-shadow ui-btn ui-corner-all" id="test-button">Test</button-->
<button class="ui-shadow ui-btn ui-corner-all" id="add-button">Upload</button>
<div id="message"></div>

</div>

<br />
<br />
<br />
<br />
<br />
<br />

{% endblock body %}

