

{% extends "page.html" %}
{% block title %}Into the Okavango 2015{% endblock title %}



{% block head %}

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
  
  

{% endblock head %}



{% block body %}

  <div id="mapContainer">
    <div id="map">
    </div>
  </div>

  <div id="contentContainer">
    <div id="header">
      <ul id="navigation">
        <li class="map">Map</li>
        <li class="journal">Journal</li>
        <li class="data">Data</li>
        <li class="about">About</li>
        <li class="share"><span>Share</span></li>
      </ul>
      <div id="title">
        <h1>Into the Okavango 2015</h1>
        <img src="static/img/logo.svg" alt="Into the Okavango logo"/>
      </div>
    </div>

    <div id="pageContainer">
      <div id="aboutPage" class="page hidden">
        <div id="video">
          <div class="vimeoContainer">
            <iframe src="https://player.vimeo.com/video/124421450" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div id="introduction">
          <div class="row">
            <div class="column">
              <h1>The beating heart of our planet</h1>
            </div>
            <div class="column">
              <p>
                The Okavango Delta is one of the world’s last great wetland wildernesses. Although the Delta has been awarded UNESCO WHS Status its catchments in the highlands of Angola are still unprotected and largely unexplored. Starting in May a team of Ba’Yei, scientists, engineers and adventurers will journey a 1000 miles down the Cuito River, finding new species, exploring new ground, and taking the pulse of this mighty river that brings life-giving water to the Jewel of the Kalahari.
              <br>
              <br>
                This site displays data which is uploaded daily, via satellite, by the expedition team. Data is also available through a public API, allowing anyone to remix, analyze or visualize the collected information.
              </p>
            </div>
          </div>

          <div id="beaconContainer">
            <img src="static/img/introBeacon.svg" alt="" id="beacon"/>
          </div>

          <div class="row" id="goals">
            <div class="column">
              <div class="goalIcon"><img src="static/img/iconIntroUnderstand.png"/></div>
              <h2>Understand 
              <br>
                the wilderness
              </h2>
              <p>
                To effectively protect the Okavango and its catchments it is essential to gain knowledge and insight into the functioning of the system as a whle. Starting in 2011 the Okavango Wilderness Project has conducted yearly transects of the Delta, gathering unique data and immersing the expedition members in the ebb and flow of this pristine wilderness. In 2015 the expedition will be extended to include a transect of one of the Delta’s feeder rivers, the Cuito. With its source deep in the remote highlands of Angola, this is one of the least known places on Earth. Travelling down the river, the team will collect data on insects, fish, birds, reptiles and mammals, as well as conduct water quality assessments and landscape surveys.
              </p>
            </div>
            <div class="column right">
              <div class="goalIcon"><img src="static/img/iconIntroPreserve.png"/></div>
              <h2>Raise awareness<br>
                and preserve
              </h2>
              <p>
                Although the Okavango itself is protected as a UNESCO World Heritage Site, its catchment and water supply in Angola and Namibia remain vulnerable to human interference. By gathering and freely disseminating information about the functioning and health of the entire system the 2015 expedition aims to raise the levels of both understanding and awareness of this unique and fragile system.
              <br>
              <br>
                Once base-line data on the system becomes freely available effective measures can then be implemented to insure the continued health and survival of this great African wilderness.
              </p>
            </div>
          </div>
        </div>
        <div id="team">
          <div class="background">
            <div class="slides">
              <img src="static/img/slides/0.jpg"/>
              <img src="static/img/slides/1.jpg"/>
              <img src="static/img/slides/2.jpg"/>
              <img src="static/img/slides/3.jpg"/>
            </div>
            <div class="overlay"></div>
          </div>
          
          <div class="content">
            <div class="column">
              <h2>
                Expedition team
              </h2>
              <p>
                Steve Boyes <span>(Project Leader), </span>John Hilton <span>(Expedition Director), </span>Karen Ross <span>(Botswana WHS Bid Leader), </span>Jer Thorp <span>(Data Artist), </span>Shah Selbe <span>(Expedition Technologist), </span>Gregg Treinish <span>(Sensor Network Deployment), </span>Brian House <span>(Data Artist), </span>Giles Trevethick <span>(Research Coordinator), </span>James Kydd <span>(Expedition photographer), </span>Asher Jay <span>(Artist), </span>Chris Boyes <span>(Expedition Leader), </span>Gobonamang Kgetho <span>(Poler), </span>Goitseone Basiamang <span>(Poler), </span>Kgalalela Mpetsang <span>(Poler), </span>Khunowa Mathare  <span>(Poler), </span>Leillamang Kgetho <span>(Poler), </span>Pieter Hugo <span>(Camp Logistics), </span>Alex Paullin <span>(Camp Logistics)</span>
              </p>
              <h2>
                Scientific team
              </h2>
              <p>
                Nigel Barker <span>(Botanist), </span>Matt Janks <span>(Botanist), </span>David Goyder <span>(Botanist - Kew Gardens), </span>Paul Skelton <span>(Ichthyologist), </span>Adjany Costa <span>(Ichthyologist and Ornithologist), </span>Nkosinathi Mazungula <span>(Ichthyologist), </span>Bill Branch <span>(Herpetologist), </span>Francisco Maiato <span>(Botsanist), </span>Gotz Neef <span>(Botanist & Entomologist)</span>
              </p>
            </div>
            <div class="column">
              <h2>
                Documentary team
              </h2>
              <p>
                Neil Gelinas <span>(Filmmaker), </span>Cory Richards <span>(Photographer), </span>Mark Stone <span>(Assistant), </span>Alexandra Fuller <span>(Writer)</span>
              </p>
              <h2>And you!<br>Help us spread the word</h2>
              <div class="social">
                <span class='st_sharethis_large' displayText='ShareThis'></span>
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_email_large' displayText='Email'></span>
              </div>
              <div class="logos">
                <img src="static/img/natgeoLogo.svg" width="30%"/>
                <img src="static/img/ocrLogo.svg" width="12%"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="mapPage" class="page hidden">
        <div class="pane dimmed">
          <svg id="timeline"/>
        </div>
        <div class="pane hidden">

        </div>
        <div class="pane hidden">
          <div id="feed">
            

            <div class="post tweet">
              <div class="meta">
                <div class="separator"></div>
                <div class="timestamp"></div>
              </div>
              <div class="content">
                <img class="icon" src="static/img/iconTweet.svg"/>
                <p class="message">
                </p>
                <div class="photo">
                </div>
              </div>
            </div>

            <div class="post photo">
              <div class="content">
              <div class="meta">
                <div class="separator"></div>
                <div class="timestamp"></div>
              </div>
                <div class="photo">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div id="dataPage" class="page hidden">
        <h1>DATA</h1>
      </div>
      <div id="sharePage" class="page hidden">
        <h1>SHARE</h1>
      </div>
    </div>
  </div>

  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "7765ee40-a267-44e3-81df-557c161bd941", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

  <script src="static/js/d3.min.js"></script>
  <script src="static/js/leaflet.js"></script>
  
  <script src="static/js/dataPage.js"></script>
  <script src="static/js/feed.js"></script>
  <script src="static/js/features.js"></script>
  <script src="static/js/layout.js"></script>
  <script src="static/js/loader.js"></script>
  <script src="static/js/members.js"></script>
  <script src="static/js/timeline.js"></script>
  <script src="static/js/wanderer.js"></script>
  <script src="static/js/utils.js"></script>
  <script src="static/js/main.js"></script>

{% endblock body %}

