

{% extends "page.html" %}
{% block title %}Into the Okavango{% endblock title %}



{% block head %}

    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6479954/6270552/css/fonts.css" />

{% endblock head %}


{% block body %}

  <div id="okavango">
    <div id="root">
      <div id="header">
        <h1>INTO THE OKAVANGO</h1>
        <img id="logo" src="static/img/logo.svg" alt="Into the Okavango"/>
      </div>
      <div id="content" style={height} className={contentActive ? '' : 'hidden'}>
        <div id="loadingWheel">
          <div class="wheel"></div>
        </div>
      </div>
    </div>
  </div>
    
  <script type="text/javascript" src="static/js/vendors.75e30393589aae99f015.js?7505554998e52cb37abd"></script><script type="text/javascript" src="static/js/main.9e7e88b7bb79e081549e.js?7505554998e52cb37abd"></script>
  

{% endblock body %}
