

{% extends "page.html" %}
{% block title %}Into the Okavango{% endblock title %}



{% block head %}

    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6479954/6270552/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css" />

{% endblock head %}


{% block body %}

  <div id="okavango">
    <div id="root">
      <div id="header">
        <h1>INTO THE OKAVANGO</h1>
        <img id="logo" src="static/img/logo.svg" alt="Into the Okavango"/>
      </div>
      <div id="content" style={height} className={contentActive ? '' : 'hidden'}>
        <div id="loadingWheel">
          <div class="wheel"></div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="static/js/vendors.06304c37b2b1ff71ff9d.js"></script>
  <script type="text/javascript" src="static/js/main.6f0c2298938e12c3f0d6.js"></script>


{% endblock body %}
