{% extends "page.html" %}

{% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/api.css">
    <script type="text/javascript" src="../../static/js/d3.min.js"></script>
    <style type="text/css">

    </style>
{% endblock head %}

{% block body %}
    {{ search }}
    <div id="dataPage">
        <h1>Sightings</h1>
        <div id="api">
            <div id="timelineViz">
            </div>
        </div>
    </div>
        <script type="text/javascript">

        //chart margins
        var margin = {top: 20.5, right: 30, bottom: 30, left: 40.5},
        width = 800 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom,
        left_width = 100;

        var xScale = d3.time.scale()
            .range([0, width]);

        var yScale = d3.scale.linear()
            .range([height, 0]);

        var xAxis = d3.svg.axis()
            .scale(xScale)
            .orient("bottom");

        var yAxis = d3.svg.axis()
            .scale(yScale)
            .orient("left");

        var svg = d3.select("#timelineViz").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
            .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var url = "http://dev.intotheokavango.org/api/features?FeatureType=sighting";

        var parseSighting = function(item) {
            if(item["properties"].hasOwnProperty("FeatureType")){
                var sighting = {};
                sighting.species = item["properties"]["BirdName"];
                sighting.time =  new Date(+item["properties"]["t_utc"] * 1000);
                sighting.count = item["properties"]["Count"];
                return sighting;
            }
        }

        var listSpecies = function(sightings) {
            
            var result = {};

            for (var i = 0; i < sightings.length; ++i) {
                var species = sightings[i].properties.BirdName;
                result[(typeof species) + ' ' + species] = species;
            }

            for (id in result) {
                if (result.hasOwnProperty(id)) {
                    console.log(result[id]);
                }
            }
        }
        
        var speciesCountObj = {};
        var speciesCountArray = [];

        var getSpeciesCount = function(sightings) {

            for (var i = 0; i < sightings.length; ++i) {
                if (!speciesCountObj.hasOwnProperty(sightings[i].properties.BirdName)) {
                    speciesCountObj[sightings[i].properties.BirdName] = 0;
                    // speciesCountObj[sightings[i].properties.BirdName] =;
                    // speciesCountObj[sightings[i].properties.BirdName] = 0;
                    console.log("doesn't have species property");
                }
                speciesCountObj[sightings[i].properties.BirdName] += sightings[i].properties.Count;
            }
            console.log(Object.keys(speciesCountObj));

            speciesCountObj['species'] = Object.keys(speciesCountObj);

            for (s in speciesCountObj){
                myObj = {};
                myObj.species = s;
                myObj.count  = speciesCountObj[s];
                speciesCountArray.push(myObj);
            }
            console.log(speciesCountArray);
        }

        var loadSightingsData = function(callback) {
            d3.json(url, function(error,data) {
                console.log("Initial Data", data.features); //data.features is an array of sightings objects
                
                //listSpecies(data.features);
                getSpeciesCount(data.features);
                //console.log(speciesCountArray);

                // var f;

                // for (d in data.features) {
                //     item = data.features[d];
                //     f = parseSighting(item);
                //     console.log(f);
                // }

            });
        }

        loadSightingsData();
            
        </script>
{% endblock body %}


