{% extends "page.html" %}
{% block head %}

<link rel="stylesheet" type="text/css" href="/static/css/api.css" />

<script>
    $(document).ready(function() {

        $('.member_team').change(function() {
            var team = $(this).val();
            var member = $(this).attr('id');            
            if (team == "new") {
                var teamName = prompt("Enter the name of " + member + "'s new team:", "");
                $.ajax({
                    type: "POST",
                    url: "/teams",
                    data: {new_team: teamName, member: member},
                    error: function (xhr, status, error) {
                        console.log(xhr);
                        console.log(status);
                        console.log(error);
                        console.log(data);
                        alert(xhr.responseText);
                    }
                }).done(function (xhr, textStatus) {
                    // alert(textStatus);
                    document.location.reload();
                });
            } else {
                $.ajax({
                    type: "POST",
                    url: "/teams",
                    data: {team: team, member: member},
                    error: function (xhr, status, error) {
                        console.log(xhr);
                        console.log(status);
                        console.log(error);
                        console.log(data);
                        alert(xhr.responseText);
                    }
                }).done(function (xhr, textStatus) {
                    // alert(textStatus);
                    document.location.reload();
                });                
            }
        });

        $('.satellite_team').change(function() {
            var team = $(this).val();
            var satellite = $(this).attr('id');            
            $.ajax({
                type: "POST",
                url: "/teams",
                data: {team: team, satellite: satellite},
                error: function (xhr, status, error) {
                    console.log(xhr);
                    console.log(status);
                    console.log(error);
                    console.log(data);
                    alert(xhr.responseText);
                }
            }).done(function (xhr, textStatus) {
                // alert(textStatus);
                document.location.reload();
            });                
        });

    })


</script>

{% endblock head %}

{% block body %}
<div id="textarea" style="padding:30px">
<h2>TEAMS</h2>
<br />
<table>
    {% for member in dbmembers %}
    <tr>
        <td><a href="/teams/{{ member.Name }}">{{ member.Name }}</a></td>
        <td><select class="member_team" id="{{ member.Name }}"> 
            <option value="NONE">NONE</option>
            {% for team in dbteams %}
                {% if team.Name == member.Team %}
                    <option value="{{ team.Name }}" selected="selected">{{ team.Name }}</option>
                {% else %}
                    <option value="{{ team.Name }}">{{ team.Name }}</option>
                {% endif %}
            {% endfor %}
            <option value="new">-- NEW --</option>            
        </select></td>
    </tr>
    {% endfor %}
</table>
<br />
<br />
<h2>SATELLITES</h2>
<br />
<table>
{% for satellite in satellites %}
<tr>
    <td>{{ satellite }}</td>
    <td>
        <select class="satellite_team" id="{{ satellite }}"> 
            <option value="NONE">NONE</option>
            {% for team in dbteams %}
                {{ team }}{{ team.Satellite }}
                {% if team.Satellite == satellite %}
                    <option value="{{ team.Name }}" selected="selected">{{ team.Name }}</option>
                {% else %}
                    <option value="{{ team.Name }}">{{ team.Name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </td>
</tr>    
{% endfor %}
</table>
<div>

{% endblock body %}