{% extends "page.html" %}
{% block head %}

<link rel="stylesheet" type="text/css" href="/static/css/api.css" />
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/jquery.serializejson.min.js"></script>

<script>

$(document).ready(function() {

    var today = new Date()
    console.log();

    $('#test').on('click', function () {
                var data = new FormData();
                var image = $("#Photo").get(0).files;



                // Add the uploaded file content to the form data collection
                if (image.length > 0) {
                    data.append("upload", image[0]);
                }



                var metadata = $('#sightingUpload').serializeJSON()
                metadata['t_utc'] = Math.floor(today.getTime()/ 1000)
                metadata['Notes'] = $('#Notes').val()
                metadata['getImageTimestamp'] = $('#getImageTimestamp').is(':checked');

                var jsonBlob = new Blob([JSON.stringify(metadata)], {type : 'text/json'});

                data.append("metadata", jsonBlob, "metadata.json");

                var myReader = new FileReader();
                myReader.onload = function(event){
                    console.log(myReader.result);
                };
                myReader.readAsText(jsonBlob);

                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/ingest/sighting",
                    contentType: false,
                    processData: false,
                    data: data,

                    error: function (xhr, status, error) {
                        console.log(xhr);
                        console.log(status);
                        console.log(error);
                        console.log(data);
                        alert(status + " " + error);
                    }
                });

                ajaxRequest.done(function (xhr, textStatus) {
                    alert(textStatus);
                    document.location.reload();
                });


            });

})


	
</script>

{% endblock head %}
{% block body %}
<div id="textarea" style="padding:30px">
<h2>Sighting Upload </h2>
<br />
<form id="sightingUpload" style="padding-bottom:20px">

    <label for="photo">Photo</label>
    <input type="file" name="Photo" id="Photo" value="" multiple>
    <br /><br />
    <label for="TeamMember">Team Member</label>
    <input type="text" name="TeamMember" id="TeamMember" value="">
    <br /><br />
    <label for="SpeciesName">Species Name</label>
    <input type="text" name="SpeciesName" id="SpeciesName" value="">
    <br /><br />
    <label for="Count">Count</label>
    <input type="text" name="Count" id="Count" value="">
    <br /><br />
    <label for="Notes">Notes</label>
    <textarea type="" name="Notes" id="Notes" value=""></textarea>
    <br /><br />
    <label for="getImageTimestamp">Get timestamp from image</label>
    <input type="checkbox" name="getImageTimestamp" id="getImageTimestamp" checked="checked" />
</form>
<div id="test" style="background-color:#ffcc00;width:120px">Click to Submit</div>
</div>
{% endblock body %}