{% extends "page.html" %}
{% block head %}

<link rel="stylesheet" type="text/css" href="/static/css/api.css" />
<script src="/static/js/jquery.serializejson.min.js"></script>

<script>

$(document).ready(function() {

    //stolen from Stack Overflow
    (function ($) {

        //check if the browser width is less than or equal to the large dimension of an iPad
        if ($(window).width() <= 1024) {

            //create an AJAX request for the CSS file
            $.ajax({
                url     : '/static/css/jquery.mobile-1.4.5.min.css',
                success : function (response) {
                    $('head').append('<style>' + response + '</style>');
                }
            });

            //create an AJAX request for the JS file, setting the dataType to 'script' will have jQuery automatically evaluate the JS code in the global scope
            $.ajax({
                url      : 'jquery.mobile-1.4.5.min.js',
                dataType : 'script'
            });
        }
    })(jQuery);

    $('#test').on('click', function () {
                $('#test').text("Attempting to send....");
                var data = new FormData();
                var image = $("#Photo").get(0).files;

                // Add the uploaded file content to the form data collection
                if (image.length > 0) {
                    for (var i in image) {
                        data.append("upload_" + i, image[i]);
                    }
                }

                var metadata = $('#imageUpload').serializeJSON()
                metadata['Notes'] = $('#Notes').val()

                var jsonBlob = new Blob([JSON.stringify(metadata)], {type : 'text/json'});

                data.append("metadata", jsonBlob, "metadata.json");

                var myReader = new FileReader();
                myReader.onload = function(event){
                    console.log(myReader.result);
                };
                myReader.readAsText(jsonBlob);

                // Make Ajax request with the contentType = false, and procesDate = false
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/ingest/image",
                    contentType: false,
                    processData: false,
                    data: data,

                    error: function (xhr, status, error) {
                        console.log(xhr);
                        console.log(status);
                        console.log(error);
                        console.log(data);
                        alert(xhr.responseText);
                    }
                });

                ajaxRequest.done(function (xhr, textStatus) {
                    alert(textStatus);
                    document.location.reload();
                });


            });

})


	
</script>

{% endblock head %}
{% block body %}
<div id="textarea" style="padding:30px" data-role="page">
<h2>Image Upload </h2>
<br />
<form id="imageUpload" style="padding-bottom:20px">

    <label for="photo">Photo</label>
    <input type="file" name="Photo" id="Photo" value="" multiple>
    <br /><br />
    <label for="TeamMember">Team Member</label>
    <br />
    <input type="text" name="TeamMember" id="TeamMember" value="">
    <br /><br />
    <label for="Notes">Notes</label>
    <br />
    <textarea type="" name="Notes" id="Notes" value=""></textarea>
</form>
<div id="test" style="background-color:#ffcc00;width:120px">Click to Submit</div>
<div>
</div>
{% endblock body %}