    <div id='data-header'>
      <ul id='data-navigation'>
          <li on-click='activateDoc'>Documentation</li>
          <li on-click='activateExp'>Explorer</li>
          <li on-click='activateOver'>Overview</li>
      </ul>
        <comment-widget />
        <widget message='Click to activate!'/>
      {{#pages:num}}
        {{#if pageActive}}
          <div class="title" id="api-documentation-title">{{view_title}}</div>
        {{/if}}
      {{/pages}}
        
    </div>
    {{#pages}}
    {{#if pageActive}}
    <div id="data-content">
      <p>{{content}}</p>
      <div id="features-area" style="display:none">
          <h2>Feature Totals</h2>
          <div id="features-totals"> <features /><!--Ractive template--> </div>
      </div>

      <div id="query-area"> <!--Ractive template--> </div>
    <div>
    {{/if}}
    {{/pages}}
