<div id="features-left">
    {{ >totals}}
</div>
<div id="features-right">
    {{ >featureTypes}}
</div>

{{#partial featureTypes}}
{{#each featuresArray}}
<ul>
    <li>{{ title }}</li>
</ul>
{{/each}}
{{/partial}}

{{#partial totals}}
{{#each featuresArray}}
<ul>
    <li>{{ total }}</li>
</ul>
{{/each}}
{{message}}
{{/partial}}